# Introduction to Python

### But First, Learning Tips!

1. Before clicking \[ ▶ Run \] to see the result from running the code, **make a guess of what the final result would be** before actually running it.
2. **Do not be afraid to play around with code**: change them, re-run the code, and see if the new result meets your expectation.
3. Got error messages? Relax. Even experienced programmers got these so-called bugs! **Pause for a few seconds and see why the code produces such error.**

Open this in Colab. [![](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1CO_Qlprw8NkQryk_gUdtNjMoGNsE3PWA?usp=sharing)

**Developer Note:** copy this colab into GitHub Gist and create a link from it.

## 1. Basic Arithmetics

Python can run simple math expressions out of the box.
So expressions like `2 + 2` will produce the result 4.

Try running the code below by hitting \[ ▶ Run \] button.

In [1]:
2 + 2

4

Since there is no $\times$ (times) and $\div$ (divide) symbol on the keyword, we instead use symbols `*` and `/` instead.

In [2]:
17 / 3

5.666666666666667

In [3]:
50 - 5 * 6

20

Notice that in the above code, multiplication `*` is evaluated before subtraction `-`. This is due to what is called the **order of precedence**.

So if we want to do subtraction first, we need a pair of parentheses, `(` and `)`, just like in math!

In [4]:
(50 - 5) * 6

270

### Example: Temperature Conversion

Now for our very first application! Let's say that a weather app tell us that the current weather in Galapagos Island is 100°F (Farenheit). We want to know what is this temperature value in Celcius. We will use the following identity to help us with unit conversion:

> $\dfrac{C}{5} = \dfrac{F - 32}{9} \quad\Longleftrightarrow\quad C = \dfrac{F - 32}{9} \times 5$

And below is the code to convert 100°F into °C.

In [5]:
((100 - 32) / 9) * 5

37.77777777777778

Once you have got familiarity with the **order of precedence**, then you will notice that we can remove the redundant pair of parentheses:

In [6]:
(100 - 32) / 9 * 5

37.77777777777778

### Example: Compound Interest (Exponentiation)

Suppose that we have 10,000 THB (Thai Baht) in a savings account. Every year we receive 3% interest, which is then compounded into your account for the subsequent year. If we leave our account alone for 12 years, how much total money would we have at the end?

The answer is (approximately) $10000 \times 1.03^{12}$ THB. We can compute the final result with the following Python code.

In [7]:
10_000 * 1.03 * 1.03 * 1.03 * 1.03 * 1.03 * 1.03 * 1.03 * 1.03 * 1.03 * 1.03 * 1.03 * 1.03 * 1.03

14685.337134515645

You should have got approximately 14257.61 THB as the result.

Yes, the above code looks very tiring. Luckily, we can use the `**` operator to perform exponentiation for us. (**Tip:** It also works for negative exponents.)

In [8]:
10_000 * 1.03 ** 12

14257.608868461793

In [9]:
5 ** -1

0.2

### Aside: Real Division vs Integer Division

Recall that the result of `17 / 3` from above produces a real number result. But what if you want the final _without the fractional part_ (also called a **quotient**)?

The answer is to use the `//` operator.

In [10]:
17 // 3

5

What about the **remainder** of the above division? Can we compute this value?

One way to look at this is to consider the equation $17 = 5 \times 3 + 2$, which gives us the remainder value 2.

Let's work backward in order to obtain the formula that we can use in our code. Suppose that $A$ divided by $B$ produces the **quotient** $Q$ and the **remainder** $R$. So we have the follow equation.

> $A = Q \times B + R \quad \Longleftrightarrow \quad R = A - Q \times B$

And here is the Python code to compute the remainder from dividing 17 by 3.

In [16]:
17 - (17 // 3) * 3

2

Whew, that was a lot of work! Luckily, we can achieve the same result simply by using the **modulo** operator: `%`.

In [19]:
17 % 3

2

Notice a recurrent theme? In various programming languages, especially Python, we usually have lots of handy operations built into the language. Later we will also learn how to create one ourselves in the next section.

Lastly, before we move on, what is the result of diving -17 by 3? Make a guess before running the code.

In [17]:
-17 // 3

-6

In [18]:
-17 % 3

1

## 2. Variables

Let's consider the **Compound Interest** problem once again. Suppose that we have some `initial_balance_thb` in our bank account. Our account yields some `interest_rate_percent` per year, but there is some `tax_rate_percent` deducted from the interest earned. How much will we end up with after one year has passed?

Here is the a set of equations which describes the above process:
> $\mathrm{interest\_thb} = \mathrm{initial\_balance\_thb} \times \dfrac{\mathrm{interest\_rate\_percent}}{100}$
>
> $\mathrm{tax\_on\_interest\_thb} = \mathrm{interest\_thb} \times \dfrac{\mathrm{tax\_percent\_rate}}{100}$
>
> $\mathrm{final\_balance\_thb} = \mathrm{initial\_balance\_thb} + \mathrm{interest\_thb} - \mathrm{tax\_on\_interest\_thb}$

We can convert all of the above into a giant mathmatical expression as shown here (assuming that the initial balance is 10,000; the interest rate is 3%; and the tax rate is 15%).

In [20]:
10_000 + (10_000 * 0.03) - ((10_000 * 0.03) * 0.15)

10255.0

It takes a lot to comprehend the code shown above. Also, we needed to duplicate part of the code `10_000 * 0.03` twice. If you feel annoyed by this, then you are on the right track!

In almost all programming languages (Python included), there is a concept of variable which can store (intermediate) results for later use. Below is the code which achieves the same result as above but is much easier to understand.

In [21]:
initial_balance_thb = 10_000
interest_rate_percent = 3
tax_rate_percent = 15

interest_thb = initial_balance_thb * interest_rate_percent / 100
tax_on_interest_thb = interest_thb * tax_rate_percent / 100
final_balance_thb = initial_balance_thb + interest_thb - tax_on_interest_thb

print(final_balance_thb)

10255.0

Please ignore `print(...)` for now. There are a few things that you must know:

- Python code generally runs from top to bottom.
-`<variable> = <expression>` represents an assignment of values to the right of the `=' symbol into a **variable** whose name on the left. Swapping left and right parts will produce error. (Try it for yourself now!)
- Expressions may refer to **variables** which only have been assigned previously.

This will mean that the code below to compute an area from a given width and height will cause an error.

```python
area = width * height
height = 1080
width = 1080 * 16 / 9
```

In [22]:
area = width * height
height = 1080
width = 1080 * 16 / 9

NameError: ignored

Fix the code above so that it runs correctly. Now let's confirm that `area` is now computed correctly.

In [23]:
area

NameError: ignored

### Aside: Statements Themselves Do Not Produce Value

Assignment statements (`<variable> = <expression>`) by _itself_ does to produce value. However, the expression to the right of the `=` symbol does indeed produce value, but it is then stored into the variable shown on the left, and thus is the reason why the value is not shown to us.

_That_ is the reason why the code to compute `area` from multiplying `width` and `height` (from the above) does not display any results. It is also the reason why we need `print(final_balance_thb)` in order to tell Python to explicitly display the content of `final_balance_thb`.

`print(...)` is a function call that will _print_ out anything it receives. Whatever we put between the pair of parentheses is called **inputs** (or **arguments**, or **parameters**) to a function.

In [24]:
print(1 + 2 + 3 + 4 + 5)

15

In [25]:
print(name_of_city)

NameError: ignored

### Aside: Code Comments

We can provide additional notes to our code using what are called **comments**. In Python, a comment begins with `#` and the rest of the line will not be interpreted by Python. For example,

In [12]:
# Computing the distance from the origin (0, 0) to (x, y)
x = 4
y = -3
distance_from_origin = ((x ** 2) + (y ** 2)) ** 0.5  # Pythagorean Theorem
print(distance_from_origin)

5.0

It is best to add comments to explain the logic behind the code if it would not be obvious by itself. You will thank yourself later.

## 3. Functions

Time to talk about games with RNG (Random Number Generators). Let's say that a certain rare item has a drop rate of 0.3% from a loot box (that is one in a thousand chance). What is the chance that we win at least one such item within 10 loot boxes?

Let's write some code to find out.

In [29]:
drop_rate = 0.003
n_boxes = 10
single_fail_prob = 1 - drop_rate
total_fail_prob = single_fail_prob ** n_boxes
winning_prob = 1 - total_fail_prob
print(format(winning_prob, "%"))

2.959822%

Well,  how about the winning chance for opening 100 loot boxes? We can just modify the previous code and set `n_boxes` to `100`, but then we will lose track of history of previous computations. It is usually nice to have some previous results available for inspection. **Did you know?** In scientific community, it is even considered ethically wrong to make something disappear from lab notebooks. Do not worry, we are doing something that serious here :).

So instead we will copy the above code and replace the number to `n_boxes = 100`.

In [31]:
drop_rate = 0.003
n_boxes = 100
single_fail_prob = 1 - drop_rate
total_fail_prob = single_fail_prob ** n_boxes
winning_prob = 1 - total_fail_prob
print(format(winning_prob, "%"))

25.951574%

What if we want to try this computation for other numbers of loot boxes? Are we going to copy this chunk of code again? One crucial mantra of programming is to avoid repeating ourselves. We will combine the entire chunk of code into a single computation unit, by defining **functions**.

A function consists of **inputs** and **outputs**. It also sometimes has side-effects (such as when `print` displays text for us to read). We will create a new function to compute the winning probability (the **output**) from three **inputs**: the `drop_rate` and the number of boxes (denoted `n_boxes`).

In [40]:
# Here we define our function
def compute_winning_prob(drop_rate, n_boxes):
    single_fail_prob = 1 - drop_rate
    total_fail_prob = single_fail_prob ** n_boxes
    winning_prob = 1 - total_fail_prob
    return winning_prob

# Then we can make calls to the function we just defined 
winning_prob_10_boxes = compute_winning_prob(0.003, 10)
print("10 boxes", format(winning_prob_10_boxes, "%"))

# You can also specify input argument names for better readability
winning_prob_100_boxes = compute_winning_prob(drop_rate=0.003, n_boxes=100)
print("100 boxes", format(winning_prob_100_boxes, "%"))

# You can also specify the result of calling of one function as input to another function
print("1000 boxes", format(compute_winning_prob(0.003, 1000), "%"))

10 boxes 2.959822%
100 boxes 25.951574%
1000 boxes 95.043692%

The first line of function definition reads as

```python
def compute_winning_prob(drop_rate, n_boxes):
```

Here, our function has the name `compute_winning_prob`, and it accepts two inputs, `drop_rate` and `n_boxes`. Please note that the order of input arguments do matter. Make sure that the function call specifies the input arguments in the same order as well.

The function body are those 4 indented lines. Python uses indentation to identify blocks of code (e.g. telling which part of code is part of a function definition). Although it is visually pleasing, Python code generally suffers from copy-and-paste error unlike other programming languages. So please be careful when copying Python code from other sources.

```python
    single_fail_prob = 1 - drop_rate
    total_fail_prob = single_fail_prob ** n_boxes
    winning_prob = 1 - total_fail_prob
    return winning_prob
```

Finally, the output of the function is the the result of the expression following the `return` keyword. If there is no such keyword in the body of a function definition, then it will implicitly return the value `None`, a special constant value in Python to signify an absence of data.

## 3. Strings

In [ ]:
'spam eggs'  # single quotes

In [ ]:
'doesn't'

In [ ]:
'doesn\'t'  # use \' to escape the single quote...

In [ ]:
"doesn't"  # ...or use double quotes instead

In [ ]:
'"Yes," they said.'

In [ ]:
"\"Yes,\" they said."

In [ ]:
'"Isn\'t," they said.'

print( ) function

In [ ]:
'"Isn\'t," they said.'

In [ ]:
print('"Isn\'t," they said.')

In [ ]:
s = 'First line.\nSecond line.'  # \n means newline

In [ ]:
s  # without print(), \n is included in the output

In [ ]:
print(s)  # with print(), \n produces a new line

raw strings

In [ ]:
print('C:\some\name')  # here \n means newline!

In [ ]:
print(r'C:\some\name')  # note the r before the quote

Using triple-quotes to span multiple lines

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

string concatenated and repeated

In [ ]:
3 * 'un' + 'ium'

In [ ]:
'Py' 'thon'

In [ ]:
text = ('Put several strings within parentheses '
         'to have them joined together.')

In [ ]:
text

In [ ]:
prefix = 'Py'

In [ ]:
prefix 'thon'  # can't concatenate a variable and a string literal

In [ ]:
('un' * 3) 'ium'

concatenate variables with string use +

In [ ]:
prefix + 'thon'

string indexed

In [ ]:
word = 'Python'

In [ ]:
word[0]  # character in position 0

In [ ]:
word[5]  # character in position 5

negative numbers index

In [ ]:
word[-1]  # last character

In [ ]:
word[-2]  # second-last character

In [ ]:
word[-6]

Slicing

In [ ]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

In [ ]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

s[:i] + s[i:] is always equal to s

In [ ]:
word[:2] + word[2:]

In [ ]:
word[:4] + word[4:]

In [ ]:
word[:2]   # character from the beginning to position 2 (excluded)

In [ ]:
word[4:]   # characters from position 4 (included) to the end

In [ ]:
word[-2:]  # characters from the second-last (included) to the end

In [ ]:
#  +---+---+---+---+---+---+
#  | P | y | t | h | o | n |
#  +---+---+---+---+---+---+
#  0   1   2   3   4   5   6
# -6  -5  -4  -3  -2  -1

In [ ]:
word[42]  # the word only has 6 characters

out of range slice indexes

In [ ]:
word[4:42]

In [ ]:
word[42:]

Python strings are immutable

In [ ]:
word[0] = 'J'

In [ ]:
word[2:] = 'py'

len( ) function

In [ ]:
s = 'supercalifragilisticexpialidocious'
len(s)

## 4. Lists

In [ ]:
squares = [1, 4, 9, 16, 25]
squares

In [ ]:
squares[0]  # indexing returns the item

In [ ]:
squares[-1]

In [ ]:
squares[-3:]  # slicing returns a new list

In [ ]:
squares[:]

List concatenation

In [ ]:
squares + [36, 49, 64, 81, 100]

Lists are mutable

In [ ]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

In [ ]:
cubes[3] = 64  # replace the wrong value
cubes

append( ) method

In [ ]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

Assignment to slices

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

In [ ]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

In [ ]:
# now remove them
letters[2:5] = []
letters

In [ ]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

In [ ]:
letters = ['a', 'b', 'c', 'd']
len(letters)

Nested list

In [ ]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

In [ ]:
x[0]

In [ ]:
x[0][1]

## 5. Statement

if-else

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a") # no indentation

In [ ]:
# elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
# else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

for loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
for x in "banana":
  print(x)

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

range

In [ ]:
for x in range(6):
  print(x)

In [ ]:
for x in range(2, 6):
  print(x)

In [ ]:
for x in range(2, 30, 3):
  print(x)

while loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

## 6. Functions and Arguments

create function

In [ ]:
def my_function():
  print("Hello from a function")

call function

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

arguments

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

In [ ]:
# return value
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

## 7. How to make a QR code with Python

In [ ]:
import qrcode
img = qrcode.make('Some data here')

In [ ]:
img.get_image()