# Introduction to Pandas

[![](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1FpWjpPEvJgCfo3XmkY-NPfRSNcmjDHrn?usp=sharing)

In [1]:
import pandas as pd

## 1. Read data

In [2]:
# show read big dataset

In [51]:
df = pd.read_csv('https://raw.githubusercontent.com/cstorm125/viztech/master/data/taladrod.csv')

In [14]:
df.head()

        id   brand  series  ... subscribers scraped_date  removed_date
0  2210000   HONDA    JAZZ  ...      1047.0   2019-05-22           NaN
1  2210001  TOYOTA  ESTIMA  ...       182.0   2019-05-22           NaN
2  2210009   HONDA    JAZZ  ...      1047.0   2019-05-22           NaN
3  2210012    FORD  RANGER  ...       760.0   2019-05-22           NaN
4  2210016  TOYOTA  SOLUNA  ...       699.0   2019-05-22           NaN

[5 rows x 17 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14037 entries, 0 to 14036
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                14037 non-null  int64
 1   brand             14037 non-null  object
 2   series            14037 non-null  object
 3   model             14037 non-null  object
 4   gen               14037 non-null  object
 5   year              14037 non-null  float64
 6   color             14037 non-null  object
 7   gear              14037 non-null  object
 8   gas               891 non-null    object
 9   sales_price       14037 non-null  object
 10  original_price    121 non-null    object
 11  market_price      6153 non-null   object
 12  description       14037 non-null  object
 13  contact_location  14037 non-null  object
 14  subscribers       14028 non-null  float64
 15  scraped_date      14037 non-null  object
 16  removed_date      1590 non-null   object
dtypes: float64(2), int64(1), object(14)
memory usage: 1.8+ MB

## 2. Series

In [16]:
ser = df['sales_price']
ser

0          488,000
1        1,677,000
2          338,000
3          689,000
4          359,000
           ...
14032      428,000
14033      530,000
14034      435,000
14035      168,000
14036      976,000
Name: sales_price, Length: 14037, dtype: object

In [17]:
ser.shape

(14037,)

## 3. Dataframe

In [18]:
df.tail()

            id   brand series  ... subscribers scraped_date  removed_date
14032  2232877   HONDA  CIVIC  ...      1614.0   2019-05-28           NaN
14033  2232878  TOYOTA  CAMRY  ...      1469.0   2019-05-28           NaN
14034  2232879  TOYOTA  CAMRY  ...      1469.0   2019-05-28           NaN
14035  2232880   HONDA   JAZZ  ...       825.0   2019-05-28           NaN
14036  2232881   HONDA  CIVIC  ...      1147.0   2019-05-28           NaN

[5 rows x 17 columns]

In [19]:
df.shape

(14037, 17)

## 4. Indexing

Position

In [20]:
df.iloc[3]

id                                                            2210012
brand                                                            FORD
series                                                         RANGER
model                                   2.2 WILDTRAK DBL CAB HI-RIDER
gen                                                         DOUBLECAB
year                                                             2016
color                                                           สีขาว
gear                                                      เกียร์ออโต้
gas                                                               NaN
sales_price                                                   689,000
original_price                                                    NaN
market_price                                                  849,000
description         รับรองสภาพ ไม่มีชน มือเดียว พาช่างมาตรวจสภาพรถ...
contact_location                                             กรุงเทพฯ
subscribers                                                       760
scraped_date                                               2019-05-22
removed_date                                                      NaN
Name: 3, dtype: object

In [21]:
df.iloc[3:5, 0:2]

        id   brand
3  2210012    FORD
4  2210016  TOYOTA

In [22]:
df.iloc[[1, 2, 4], [0, 2]]

        id  series
1  2210001  ESTIMA
2  2210009    JAZZ
4  2210016  SOLUNA

In [23]:
df.iloc[1:3, :]

        id   brand  series  ... subscribers scraped_date  removed_date
1  2210001  TOYOTA  ESTIMA  ...       182.0   2019-05-22           NaN
2  2210009   HONDA    JAZZ  ...      1047.0   2019-05-22           NaN

[2 rows x 17 columns]

In [24]:
df.iloc[:, 1:3]

        brand  series
0       HONDA    JAZZ
1      TOYOTA  ESTIMA
2       HONDA    JAZZ
3        FORD  RANGER
4      TOYOTA  SOLUNA
...       ...     ...
14032   HONDA   CIVIC
14033  TOYOTA   CAMRY
14034  TOYOTA   CAMRY
14035   HONDA    JAZZ
14036   HONDA   CIVIC

[14037 rows x 2 columns]

In [25]:
df.iloc[1, 1]

'TOYOTA'

In [26]:
df.iat[1, 1]

'TOYOTA'

Label

In [27]:
df.loc[0]

id                                                            2210000
brand                                                           HONDA
series                                                           JAZZ
model                                              1.5 i-VTEC SV (AS)
gen                                                           ปี08-13
year                                                             2014
color                                                           สีขาว
gear                                                      เกียร์ออโต้
gas                                                               NaN
sales_price                                                   488,000
original_price                                                    NaN
market_price                                                      NaN
description         เครดิตดีออกรถ10,000จบครับ\nรับประกันเครื่องเกี...
contact_location                                             กรุงเทพฯ
subscribers                                                      1047
scraped_date                                               2019-05-22
removed_date                                                      NaN
Name: 0, dtype: object

In [28]:
df.loc[0, "brand"]

'HONDA'

In [29]:
df.loc[[0, 1], "brand"]

0     HONDA
1    TOYOTA
Name: brand, dtype: object

In [30]:
df.loc[[0, 5], "brand"]

0         HONDA
5    VOLKSWAGEN
Name: brand, dtype: object

In [31]:
df.loc[[0, 1], ["brand", "series"]]

    brand  series
0   HONDA    JAZZ
1  TOYOTA  ESTIMA

## 5. Slicing

In [32]:
df.loc[0:5]

        id       brand  series  ... subscribers scraped_date  removed_date
0  2210000       HONDA    JAZZ  ...      1047.0   2019-05-22           NaN
1  2210001      TOYOTA  ESTIMA  ...       182.0   2019-05-22           NaN
2  2210009       HONDA    JAZZ  ...      1047.0   2019-05-22           NaN
3  2210012        FORD  RANGER  ...       760.0   2019-05-22           NaN
4  2210016      TOYOTA  SOLUNA  ...       699.0   2019-05-22           NaN
5  2210017  VOLKSWAGEN    GOLF  ...        57.0   2019-05-22           NaN

[6 rows x 17 columns]

In [33]:
df.loc[0:5, ['model']]

                           model
0             1.5 i-VTEC SV (AS)
1                   2.4 G HYBRID
2              1.5 i-VTEC V (AS)
3  2.2 WILDTRAK DBL CAB HI-RIDER
4            VIOS 1.5 E (ABS+AB)
5                        2.0 GTI

In [34]:
df.loc[0:5, 'brand':'model']

        brand  series                          model
0       HONDA    JAZZ             1.5 i-VTEC SV (AS)
1      TOYOTA  ESTIMA                   2.4 G HYBRID
2       HONDA    JAZZ              1.5 i-VTEC V (AS)
3        FORD  RANGER  2.2 WILDTRAK DBL CAB HI-RIDER
4      TOYOTA  SOLUNA            VIOS 1.5 E (ABS+AB)
5  VOLKSWAGEN    GOLF                        2.0 GTI

In [35]:
df.iloc[0:5, 'brand':'model']

TypeError: ignored

In [36]:
df.iloc[0:5, 1:4]

    brand  series                          model
0   HONDA    JAZZ             1.5 i-VTEC SV (AS)
1  TOYOTA  ESTIMA                   2.4 G HYBRID
2   HONDA    JAZZ              1.5 i-VTEC V (AS)
3    FORD  RANGER  2.2 WILDTRAK DBL CAB HI-RIDER
4  TOYOTA  SOLUNA            VIOS 1.5 E (ABS+AB)

## 6. Aggregation

In [52]:
df2 = df[['sales_price', 'brand']]
df2.sample(n=5)

      sales_price       brand
12087     865,000  MITSUBISHI
300       435,000      NISSAN
9904      289,000       ISUZU
9234      265,000      NISSAN
13995     620,000       HONDA

In [53]:
df2.dtypes

sales_price    object
brand          object
dtype: object

In [54]:
df2['sales_price'].astype(int)

ValueError: ignored

In [55]:
df2['sales_price'] = df2['sales_price'].str.replace(',', '')
df2['sales_price'] = df2['sales_price'].astype(int)
print(df2.dtypes)
df2.head()

sales_price     int64
brand          object
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   sales_price   brand
0       488000   HONDA
1      1677000  TOYOTA
2       338000   HONDA
3       689000    FORD
4       359000  TOYOTA

In [57]:
print(f"Lowest sales price: {df2['sales_price'].min()}")
print(f"Highest sales price: {df2['sales_price'].max()}")
print(f"Average sales price: {df2['sales_price'].mean()}")
print(f"Median sales price: {df2['sales_price'].median()}")

Lowest sales price: 20000
Highest sales price: 55000000
Average sales price: 606793.1894279404
Median sales price: 413000.0

In [59]:
df2['sales_price'].describe()

count    1.403700e+04
mean     6.067932e+05
std      8.720579e+05
min      2.000000e+04
25%      2.790000e+05
50%      4.130000e+05
75%      6.480000e+05
max      5.500000e+07
Name: sales_price, dtype: float64

In [68]:
df2['brand']

0         HONDA
1        TOYOTA
2         HONDA
3          FORD
4        TOYOTA
          ...
14032     HONDA
14033    TOYOTA
14034    TOYOTA
14035     HONDA
14036     HONDA
Name: brand, Length: 14037, dtype: object

In [69]:
df2['brand'].unique()

array(['HONDA', 'TOYOTA', 'FORD', 'VOLKSWAGEN', 'CHEVROLET', 'VOLVO',
       'AUDI', 'ISUZU', 'NISSAN', 'BMW', 'BENZ', 'SUZUKI', 'LEXUS',
       'PORSCHE', 'SUBARU', 'MITSUBISHI', 'MAZDA', 'MG', 'SAAB',
       'LANDROVER', 'PEUGEOT', 'JAGUAR', 'MINI', 'HYUNDAI', 'THAI RUNG',
       'PROTON', 'KIA', 'HINO', 'TATA', 'FIAT', 'JEEP', 'SEAT',
       'LAMBORGHINI', 'SKODA', 'ROVER', 'SSANGYONG', 'MASERATI',
       'DAIHATSU', 'CITROEN', 'DFSK', 'FERRARI', 'ASTON MARTIN',
       'BENTLEY', 'ALFA ROMEO', 'LOTUS', 'FOTON', 'HUMMER', 'CHERY',
       'MITSUOKA'], dtype=object)

In [70]:
df2['brand'].nunique()

49

In [71]:
df2['brand'].value_counts()

TOYOTA          4227
HONDA           2252
NISSAN          1055
ISUZU           1050
BENZ            1036
MITSUBISHI       855
BMW              664
MAZDA            604
FORD             554
CHEVROLET        455
SUZUKI           264
HYUNDAI          135
MINI             109
VOLVO            107
PORSCHE           95
VOLKSWAGEN        86
AUDI              69
LEXUS             63
SUBARU            51
MG                41
KIA               40
LANDROVER         33
PROTON            31
THAI RUNG         26
PEUGEOT           17
JEEP              15
JAGUAR            14
HINO              13
TATA              12
CITROEN           11
SSANGYONG         10
DFSK               5
FIAT               5
DAIHATSU           4
BENTLEY            3
FERRARI            3
SEAT               3
LAMBORGHINI        3
HUMMER             3
CHERY              2
ALFA ROMEO         2
ROVER              2
SAAB               2
LOTUS              1
MASERATI           1
MITSUOKA           1
SKODA              1
ASTON MARTIN       1
FOTON              1
Name: brand, dtype: int64

In [72]:
df2.groupby(['brand'])['sales_price'].max()

brand
ALFA ROMEO        455000
ASTON MARTIN     6900000
AUDI             8390000
BENTLEY         13800000
BENZ            12800000
BMW              7350000
CHERY             139000
CHEVROLET        6190000
CITROEN           549000
DAIHATSU          299000
DFSK               89000
FERRARI         22000000
FIAT             1890000
FORD             2998000
FOTON             365000
HINO             3100000
HONDA            6990000
HUMMER           1950000
HYUNDAI          2090000
ISUZU            2550000
JAGUAR           3490000
JEEP             4550000
KIA              1560000
LAMBORGHINI      8900000
LANDROVER        6700000
LEXUS            3390000
LOTUS            3900000
MASERATI         5990000
MAZDA            2390000
MG                698000
MINI             2650000
MITSUBISHI       1198000
MITSUOKA         1550000
NISSAN          10500000
PEUGEOT          1350000
PORSCHE         55000000
PROTON            299000
ROVER             389000
SAAB              245000
SEAT              135000
SKODA              89000
SSANGYONG         595000
SUBARU           2188000
SUZUKI           2750000
TATA              255000
THAI RUNG         845000
TOYOTA          11900000
VOLKSWAGEN       1890000
VOLVO            3480000
Name: sales_price, dtype: int64

In [73]:
df2.groupby(['brand'])['sales_price'].min()

brand
ALFA ROMEO       256000
ASTON MARTIN    6900000
AUDI              88000
BENTLEY         5800000
BENZ              28000
BMW               50000
CHERY             79000
CHEVROLET         20000
CITROEN          179000
DAIHATSU         169000
DFSK              75000
FERRARI         9950000
FIAT             119000
FORD              48000
FOTON            365000
HINO             190000
HONDA             20000
HUMMER          1530000
HYUNDAI           89000
ISUZU             20000
JAGUAR           439000
JEEP             114000
KIA               88000
LAMBORGHINI     5590000
LANDROVER        268000
LEXUS             79000
LOTUS           3900000
MASERATI        5990000
MAZDA             35000
MG               230000
MINI              50000
MITSUBISHI        20000
MITSUOKA        1550000
NISSAN            20000
PEUGEOT           75000
PORSCHE         1290000
PROTON            58000
ROVER             99000
SAAB              67000
SEAT              65000
SKODA             89000
SSANGYONG        118000
SUBARU           120000
SUZUKI            79000
TATA              65000
THAI RUNG         69000
TOYOTA            20000
VOLKSWAGEN        58000
VOLVO             43000
Name: sales_price, dtype: int64

In [74]:
df2.groupby(['brand'])['sales_price'].mean()

brand
ALFA ROMEO      3.555000e+05
ASTON MARTIN    6.900000e+06
AUDI            1.594739e+06
BENTLEY         9.100000e+06
BENZ            1.295657e+06
BMW             1.254411e+06
CHERY           1.090000e+05
CHEVROLET       3.834835e+05
CITROEN         3.742727e+05
DAIHATSU        2.215000e+05
DFSK            8.540000e+04
FERRARI         1.448333e+07
FIAT            1.225800e+06
FORD            4.229819e+05
FOTON           3.650000e+05
HINO            9.753846e+05
HONDA           4.377744e+05
HUMMER          1.790000e+06
HYUNDAI         8.377926e+05
ISUZU           4.501829e+05
JAGUAR          1.321571e+06
JEEP            8.740000e+05
KIA             3.733250e+05
LAMBORGHINI     7.796667e+06
LANDROVER       1.747121e+06
LEXUS           1.100429e+06
LOTUS           3.900000e+06
MASERATI        5.990000e+06
MAZDA           4.147467e+05
MG              3.860244e+05
MINI            1.158330e+06
MITSUBISHI      3.656596e+05
MITSUOKA        1.550000e+06
NISSAN          4.077697e+05
PEUGEOT         4.717059e+05
PORSCHE         4.873274e+06
PROTON          1.908387e+05
ROVER           2.440000e+05
SAAB            1.560000e+05
SEAT            1.116667e+05
SKODA           8.900000e+04
SSANGYONG       3.107000e+05
SUBARU          6.591176e+05
SUZUKI          3.022121e+05
TATA            1.130000e+05
THAI RUNG       2.282692e+05
TOYOTA          4.886688e+05
VOLKSWAGEN      7.786395e+05
VOLVO           6.073738e+05
Name: sales_price, dtype: float64

## 7. Analyze data

In [75]:
iris = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')

In [76]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Question:
1. ค่าเฉลี่ยของความยาวและความกว้างของกลีบเลี้ยงคือเท่าไหร่ ?
2. กลีบดอกมีความยาวและความกว้่างมากที่สุดเท่าไหร่ ?
3. ดอกไม้ species ไหน มีจำนวนเยอะที่สุด ?
4. แต่ละ species มีค่าเฉลี่ยความยาวและความกว้างของกลีบเลี้ยงคือเท่าไหร่ ?