# Introduction to Pandas

[![](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1FpWjpPEvJgCfo3XmkY-NPfRSNcmjDHrn?usp=sharing)

In [ ]:
import pandas as pd

## 1. Read data

In [ ]:
# show read big dataset

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/cstorm125/viztech/master/data/taladrod.csv')

## 2. Series

In [ ]:
ser = df['brand']
ser

0         HONDA
1        TOYOTA
2         HONDA
3          FORD
4        TOYOTA
          ...
14032     HONDA
14033    TOYOTA
14034    TOYOTA
14035     HONDA
14036     HONDA
Name: brand, Length: 14037, dtype: object

In [ ]:
ser.shape

(14037,)

## 3. Dataframe

In [ ]:
df

            id   brand  series  ... subscribers scraped_date  removed_date
0      2210000   HONDA    JAZZ  ...      1047.0   2019-05-22           NaN
1      2210001  TOYOTA  ESTIMA  ...       182.0   2019-05-22           NaN
2      2210009   HONDA    JAZZ  ...      1047.0   2019-05-22           NaN
3      2210012    FORD  RANGER  ...       760.0   2019-05-22           NaN
4      2210016  TOYOTA  SOLUNA  ...       699.0   2019-05-22           NaN
...        ...     ...     ...  ...         ...          ...           ...
14032  2232877   HONDA   CIVIC  ...      1614.0   2019-05-28           NaN
14033  2232878  TOYOTA   CAMRY  ...      1469.0   2019-05-28           NaN
14034  2232879  TOYOTA   CAMRY  ...      1469.0   2019-05-28           NaN
14035  2232880   HONDA    JAZZ  ...       825.0   2019-05-28           NaN
14036  2232881   HONDA   CIVIC  ...      1147.0   2019-05-28           NaN

[14037 rows x 17 columns]

In [ ]:
df.shape

(14037, 17)

## 4. Indexing

Position

In [ ]:
df.iloc[3]

id                                                            2210012
brand                                                            FORD
series                                                         RANGER
model                                   2.2 WILDTRAK DBL CAB HI-RIDER
gen                                                         DOUBLECAB
year                                                             2016
color                                                           สีขาว
gear                                                      เกียร์ออโต้
gas                                                               NaN
sales_price                                                   689,000
original_price                                                    NaN
market_price                                                  849,000
description         รับรองสภาพ ไม่มีชน มือเดียว พาช่างมาตรวจสภาพรถ...
contact_location                                             กรุงเทพฯ
subscribers                                                       760
scraped_date                                               2019-05-22
removed_date                                                      NaN
Name: 3, dtype: object

In [ ]:
df.iloc[3:5, 0:2]

        id   brand
3  2210012    FORD
4  2210016  TOYOTA

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

        id  series
1  2210001  ESTIMA
2  2210009    JAZZ
4  2210016  SOLUNA

In [ ]:
df.iloc[1:3, :]

        id   brand  series  ... subscribers scraped_date  removed_date
1  2210001  TOYOTA  ESTIMA  ...       182.0   2019-05-22           NaN
2  2210009   HONDA    JAZZ  ...      1047.0   2019-05-22           NaN

[2 rows x 17 columns]

In [ ]:
df.iloc[:, 1:3]

        brand  series
0       HONDA    JAZZ
1      TOYOTA  ESTIMA
2       HONDA    JAZZ
3        FORD  RANGER
4      TOYOTA  SOLUNA
...       ...     ...
14032   HONDA   CIVIC
14033  TOYOTA   CAMRY
14034  TOYOTA   CAMRY
14035   HONDA    JAZZ
14036   HONDA   CIVIC

[14037 rows x 2 columns]

In [ ]:
df.iloc[1, 1]

'TOYOTA'

In [ ]:
df.iat[1, 1]

'TOYOTA'

Label

In [ ]:
df.loc[0]

id                                                            2210000
brand                                                           HONDA
series                                                           JAZZ
model                                              1.5 i-VTEC SV (AS)
gen                                                           ปี08-13
year                                                             2014
color                                                           สีขาว
gear                                                      เกียร์ออโต้
gas                                                               NaN
sales_price                                                   488,000
original_price                                                    NaN
market_price                                                      NaN
description         เครดิตดีออกรถ10,000จบครับ\nรับประกันเครื่องเกี...
contact_location                                             กรุงเทพฯ
subscribers                                                      1047
scraped_date                                               2019-05-22
removed_date                                                      NaN
Name: 0, dtype: object

In [ ]:
df.loc[0, "brand"]

'HONDA'

In [ ]:
df.loc[[0, 1], "brand"]

0     HONDA
1    TOYOTA
Name: brand, dtype: object

In [ ]:
df.loc[[0, 5], "brand"]

0         HONDA
5    VOLKSWAGEN
Name: brand, dtype: object

In [ ]:
df.loc[[0, 1], ["brand", "series"]]

    brand  series
0   HONDA    JAZZ
1  TOYOTA  ESTIMA

## 5. Slicing

In [ ]:
df.loc[0:5]

        id       brand  series  ... subscribers scraped_date  removed_date
0  2210000       HONDA    JAZZ  ...      1047.0   2019-05-22           NaN
1  2210001      TOYOTA  ESTIMA  ...       182.0   2019-05-22           NaN
2  2210009       HONDA    JAZZ  ...      1047.0   2019-05-22           NaN
3  2210012        FORD  RANGER  ...       760.0   2019-05-22           NaN
4  2210016      TOYOTA  SOLUNA  ...       699.0   2019-05-22           NaN
5  2210017  VOLKSWAGEN    GOLF  ...        57.0   2019-05-22           NaN

[6 rows x 17 columns]

In [ ]:
df.loc[0:5, ['model']]

                           model
0             1.5 i-VTEC SV (AS)
1                   2.4 G HYBRID
2              1.5 i-VTEC V (AS)
3  2.2 WILDTRAK DBL CAB HI-RIDER
4            VIOS 1.5 E (ABS+AB)
5                        2.0 GTI

In [ ]:
df.loc[0:5, 'brand':'model']

        brand  series                          model
0       HONDA    JAZZ             1.5 i-VTEC SV (AS)
1      TOYOTA  ESTIMA                   2.4 G HYBRID
2       HONDA    JAZZ              1.5 i-VTEC V (AS)
3        FORD  RANGER  2.2 WILDTRAK DBL CAB HI-RIDER
4      TOYOTA  SOLUNA            VIOS 1.5 E (ABS+AB)
5  VOLKSWAGEN    GOLF                        2.0 GTI

In [ ]:
df.iloc[0:5, 'brand':'model']

TypeError: ignored

In [ ]:
df.iloc[0:5, 1:4]

    brand  series                          model
0   HONDA    JAZZ             1.5 i-VTEC SV (AS)
1  TOYOTA  ESTIMA                   2.4 G HYBRID
2   HONDA    JAZZ              1.5 i-VTEC V (AS)
3    FORD  RANGER  2.2 WILDTRAK DBL CAB HI-RIDER
4  TOYOTA  SOLUNA            VIOS 1.5 E (ABS+AB)

## 6. Analyze data

In [ ]:
iris = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
iris.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [ ]:
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64